@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #2C2870,#724666);
}

main {
    background-color: #FFE560;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ffe460a4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F48E20;
    text-align: center;
    text-shadow: 3px 1px 2px #724666;
}

h2 {
    color: #2C2870;
}

p {
    text-align: justify;
    color: #262642;
}