@charset "UTF-8";

body {
    background-color: #2b2b2b;
}
p {
    text-align: justify;
    color: aliceblue;
}
h1 {
    color: darkgoldenrod;
    background-color: black;
}
h2 {
    color: chocolate;
}